---
import Section from "@/components/general/Section.astro";
import TestimonialsMarquee from "./TestimonialsMarquee.astro";
import Trail from "./Trail.astro";
---

<Section
  class="pt-24 pb-6 lg:min-h-[70vh]"
  title="They came for code, stayed for the vibes."
  bodyClass="testimonials-marquee-wrapper flex flex-nowrap gap-12 p-6 relative pointer-events-none z-20 items-start lg:pt-24"
  titleClass="text-left text-7xl mr-auto px-6 lg:px-24 "
  animationWithScroll
  customGridRows="grid-rows-[min-content]"
  stickyTitle={false}
>
  <TestimonialsMarquee />
  <Trail slot="after-body" />
</Section>

<style is:global>
  .testimonials-marquee-wrapper {
    --animation-state: running;
  }
  .testimonials-marquee-wrapper:has([data-component="testimonial"]:hover) {
    --animation-state: paused;
    z-index: 20;
  }
</style>
