---
import Button from "@/components/general/Button.astro";
import type { HTMLAttributes } from "astro/types";
import { type ButtonProps } from "@/components/general/Button.astro";
import NavbarMarquee from "@/components/NavbarMarquee.astro";

export type Props = ButtonProps;
const props = Astro.props;
---

<div
  class="pointer-events-none absolute inset-x-6 inset-y-6 z-40 flex flex-col items-center justify-end lg:flex-row lg:items-center"
>
  <Button
    size="large"
    id="reshape-btn"
    intent="invert"
    class="pointer-events-auto mx-auto mb-2 overflow-hidden lg:mt-34 lg:mb-0"
    {...props}>Reshape</Button
  >
  <NavbarMarquee
    class="text-over-card flex h-32 w-full text-nowrap lg:hidden"
  />
</div>

<script>
  import { throttleChangeTheme } from "@/utils";
  const btn = document.querySelector("#reshape-btn");
  if (btn) {
    btn.addEventListener("click", () => {
      throttleChangeTheme();
    });
  }
</script>
