@import "tailwindcss";
@import "./sizing.css";
@import "./fonts.css";
@import "./theming.css";

@theme {
  --color-*: initial;
  --color-ghost: var(--color-ghost);
  --color-text-color: var(--color-text-color);
  --color-card: var(--color-card);
  --color-over-card: var(--color-over-card);
  --color-primary: var(--color-primary);
  --color-over-primary: var(--color-over-primary);
  --color-secondary: var(--color-secondary);
  --color-over-secondary: var(--color-over-secondary);

  /* Typography */
  --font-sans:
    "NotoSans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "NotoSerif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* Breakpoints */
  --breakpoint-3xl: 120.01rem;
  --breakpoint-4xl: 140.01rem;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-over-primary);
}

:root {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  transition-property: background-color, opacity, color, border-radius;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

@keyframes common-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.common-fade-in {
  animation: common-fade-in 1s ease-in-out forwards;
}

.react-scene {
  animation: common-fade-in 1s ease-in-out forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
