[data-theme-context="nick"],
[data-theme-context="nick"][data-theme="0"] {
  /* Colors */
  --hue: var(--_app-hue, 350);
  --saturation: 23%;
  --lightness: 40%;
  --color-ghost: hsl(calc(var(--hue) + 40), 76%, 95%);
  --color-text-color: hsl(calc(var(--hue)), 35%, 30%);
  --color-card: var(--color-text-color);
  --color-over-card: #fdf9f0;
  --color-primary: hsl(var(--hue), var(--saturation), var(--lightness));
  --color-over-primary: var(--color-ghost);
  --color-secondary: hsl(calc(var(--hue) + 40), 76%, 87%);
  --color-over-secondary: var(--color-text-color);

  /* Borders */
  --border-radius-general: --spacing(0);
  --border-radius-logo: --spacing(0);

  /* Typography */
  color: var(--color-text-color);
  --heading-font: var(--font-serif);

  & {
    background-color: var(--color-ghost);
  }
}

[data-theme-context="nick"][data-theme="1"] {
  --saturation: 50%;
  --lightness: 80%;
  --color-text-color: hsl(calc(var(--hue)), 1%, 100%);
  --color-ghost: hsl(calc(var(--hue)), 30%, 7%);
  --heading-font: var(--font-sans);
  --border-radius-general: --spacing(8);
  --color-secondary: hsl(calc(var(--hue)), 80%, 80%);
  --color-over-secondary: hsl(from var(--color-text-color) h s calc(l - 80));
}
