---
import Navbar from "@/components/Navbar.astro";
import Hero from "@/components/sections/Hero/index.astro";
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/general/Card.astro";
---

<Layout>
  <Hero />
  <Navbar />
  <div class="h-[200dvh]">
    <Card class="mx-auto mt-12 w-1/2">
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
      <h1>h1</h1>
    </Card>
  </div>
</Layout>

<style is:global>
  /* * {
    outline: red solid 1px;
  } */
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
</script>
