---
import Section from "@/components/general/Section.astro";
import Shift from "./Shift.astro";
import AstroLogoScene from "./AstroLogoScene.astro";
---

<Section
  class="bg-secondary text-over-secondary grid grid-cols-1 items-start justify-items-start gap-4 p-6 text-left text-balance lg:p-24 xl:pt-32"
  title="Design, Code & a Bit of Me."
  titleClass="text-left text-7xl mr-auto w-full"
  customGridRows="grid-rows-[min-content]"
  animationWithScroll
  stickyTitle={false}
>
  <div class="grid grid-cols-1 xl:grid-cols-2">
    <div>
      <p class="mb-4">
        Product Designer & Front-End Developer with over 8 years of experience
        creating digital products, libraries, and web applications from the
        ground up. I believe technology goes beyond tools—it's a creative
        language capable of generating emotion, connection, and transformation.
      </p>
      <p class="mb-4">
        Self-taught and endlessly curious, often exploring disciplines beyond
        product/software development—such as visual design, creative coding, and
        generative arts—always seeking deeper meaning and impactful experiences.
        My core principle: combine strategy, creativity, and code to build
        products that resonate and leave a lasting impact.
      </p>
      <a
        data-ignore-sizing
        href="/docs/cv.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="max-w-[max-content] text-xl hover:underline lg:text-2xl"
        >— Download CV</a
      >
      <div class="grid grid-cols-1 gap-6 py-8 lg:mt-12">
        <h4 data-ignore-sizing class="text-7xl font-bold">Want to talk?</h4>
        <a
          data-ignore-sizing
          href="https://www.linkedin.com/in/nick-fuenmayor/"
          target="_blank"
          rel="noopener noreferrer"
          class="max-w-[max-content] text-3xl hover:underline lg:text-5xl"
          >— LinkedIn</a
        >
        <a
          data-ignore-sizing
          href="mailto:contact@nickf.info"
          target="_blank"
          rel="noopener noreferrer"
          class="max-w-[max-content] text-3xl hover:underline lg:text-5xl"
          >— contact@nickf.info</a
        >
      </div>
    </div>
    <AstroLogoScene />
  </div>
  <Shift slot="after-body" />
</Section>
