<section
  class="bg-secondary text-over-secondary grid grid-cols-1 gap-4 p-24 text-balance"
>
  <h4 data-ignore-sizing class="text-7xl font-bold">
    Design, Code & a Bit of Me
  </h4>
  <p class="lg:max-w-3/4">
    I'm a Product Designer & Full-Stack Developer with over 8 years of
    experience building digital products, code libraries, and web applications.
    My work is focused on building innovative products from the ground up and
    leading them to success. I follow a clear principle: to use strategy,
    creativity, science, and code to stay one step ahead and create lasting
    impact.
  </p>
</section>
