---
import CtaContainer from "./general/CtaContainer.astro";
---

<CtaContainer>
  <button
    id="logo-btn"
    data-component="logo-wrapper"
    class="bg-ghost relative aspect-square h-full w-full cursor-pointer overflow-hidden"
  >
    <svg
      data-component="logo"
      class="h-full w-full"
      id="Logo"
      viewBox="0 0 148 148"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="transition-[fill] duration-300 ease-in-out"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 0H148V148H0V0ZM95.9237 74H74V52.0763C74 64.1844 64.1844 74 52.0763 74H74V95.9237C74 83.8156 83.8156 74 95.9237 74Z"
        fill="var(--_logo-color)"></path>
    </svg>
  </button>
</CtaContainer>

<style is:global>
  [data-component="logo-wrapper"] {
    overflow: hidden;
    border-radius: var(--border-radius-general);
  }

  [data-component="logo"] {
    --_logo-color: var(--color-primary);
    transform: scale(2);
    transform-origin: center center;
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    will-change: transform;
  }

  #logo-btn:hover [data-component="logo"] {
    --_logo-color: hsl(from var(--color-primary) h s calc(l - 10));
  }

  #logo-btn:active [data-component="logo"] {
    --_logo-color: hsl(from var(--color-primary) h s calc(l - 20));
  }

  [data-component="logo-wrapper"] > svg > path {
    transform-origin: center center;
    transition-property: rotate, scale, fill;
    scale: 1;
  }
  [data-component="logo-wrapper"]:hover > svg > path {
    scale: 1.2;
    rotate: 0deg;
  }
  [data-component="logo-wrapper"]:active > svg > path {
    transition-duration: 0.5s;
    scale: 0.7;
    rotate: 360deg;
  }
</style>
<script>
  import { throttleChangeTheme } from "@/utils";

  const btn = document.querySelector("#logo-btn");
  if (btn) {
    btn.addEventListener("click", () => {
      throttleChangeTheme();
    });
  }

  /**
   * * Rotate the logo based on scroll position.
   */
  const logo: SVGAElement = document.querySelector("#Logo")!;
  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY;
    const rotation = scrollTop * 0.5; // Adjust factor as needed
    logo.style.rotate = `${rotation}deg`;
  });
</script>
