---
import Cursor from "@/components/general/Cursor.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Nick Fuenmayor</title>
    <meta name="description" content="Product Designer & Front-End Developer" />

    <meta property="og:title" content="Nick Fuenmayor" />
    <meta
      property="og:description"
      content="Product Designer & Front-End Developer"
    />
    <meta property="og:image" content="https://nickf.info/og/cover.jpg" />
    <meta property="og:url" content="https://nickf.info" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Nick Fuenmayor" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Nick Fuenmayor" />
    <meta
      name="twitter:description"
      content="Product Designer & Front-End Developer"
    />
    <meta name="twitter:image" content="https://nickf.info/og/cover.jpg" />
  </head>
  <body
    data-theme-context="nick"
    data-theme="0"
    data-theme-hue="350"
    style={{ "--_app-hue": 350 }}
  >
    <Cursor />
    <slot />
  </body>
</html>
