---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Nick Fuenmayor | Product Designer & Software Developer</title>
  </head>
  <body data-theme-context="nick" data-theme="0" data-theme-hue="350">
    <slot />
  </body>
</html>
