---
import Section from "@/components/general/Section.astro";
---

<Section
  class="mt-14"
  titleClass="-mt-12"
  bodyClass="text-center"
  title="projects"
  animationDelay={4}
>
  <h1>hi</h1>
</Section>
